@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 120ms ease;
}
body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}
body::-webkit-scrollbar {
  width: 0.25;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #6649b8;
}

/* nav bar */
nav {
  height: 5vh;
  position: fixed;
  /* border-bottom: 1px solid black; */
  display: flex;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.nav-sub .blog {
  border-bottom: 2px solid #f9d30c;
}
.nav-sub .blog:hover {
  border-radius: 10px;
  background-color: #f9d30c;
}
.nav-sub .login-li {
  border-bottom: 2px solid #4154fa;
}
.nav-sub .login-li:hover {
  border-radius: 10px;
  background-color: #4154fa;
}
#login-button:hover p,
.blog:hover p {
  color: white;
}

.nav-sub {
  display: flex;
  align-items: center;
}
.icon {
  transform: translate(0, 15%);
}
.nav-items {
  padding: 2px 10px 2px 10px;
  margin: 2px 10px 0px 10px;
}
.nav-items:hover {
  background: rgba(193, 193, 193, 0.726);
  border-radius: 10px;
}
nav a {
  font-size: 1.3rem;
  color: #222;
  text-decoration: none;
}
.icon img {
  margin-top: 10px;
  transform: translate(0, 0);
  height: 4rem;
}

.heading {
  color: #006025;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* all home page */
#home {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 30%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.home-title.hidden img {
  width: 30vw;
  transform: translate(-200%, 0%);
  transition: 1000ms ease;
}
.home-title.hidden.show img {
  width: 30vw;
  transform: translate(0%, 0%);
  transition: 1000ms ease;
}
.home-title.hidden h2 {
  width: fit-content;
  text-align: center;
  transform: translate(0, -300%);
  transition: 700ms ease-out;
}
.home-title.hidden.show h2 {
  width: fit-content;
  text-align: center;
  transform: translate(0, 0%);
}
.home-b-img.hidden img {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(100%, -50%);
  height: 120vh;
  transition: 600ms ease-out;
}
.home-b-img.hidden.show img {
  transform: translate(-30%, -50%);
  height: 80vh;
}

#ball-bg.hidden {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0%, 0%);
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background: linear-gradient(
    93.63deg,
    #56cab4 -38.15%,
    rgba(86, 202, 180, 0) 97.27%
  );
  transition: transform 800ms ease-in, height 1000ms ease-out,
    width 1000ms ease-out;
}
#ball-bg.hidden.show {
  height: 110vh;
  width: 110vh;
  transform: translate(-20%, -20%);
}

/* -------- login signup page */

.login-page {
  color: black;
  position: fixed;
  transform: translateX(-100%);
  left: 300%;
  top: 5vh;
  z-index: 5;
  height: 100vh;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(223, 223, 223, 0.6);
  transition: left 500ms ease;
}
.login-page.on {
  left: 100%;
  transition: left 500ms ease-out;
}
#login div,
input,
button,
h1,
p {
  z-index: 6;
}
#login .nav {
  position: fixed;
  top: 0%;
  width: inherit;
  height: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
  color: black;
  background-color: rgba(223, 223, 223, 0.801);
  padding-left: 30px;
  padding-right: 30px;
}
.nav #login-back-btn {
  padding: 5px;
  font-size: 3rem;
  border: none;
  margin: 0;
  background-color: transparent;
  border-radius: 50%;
  transition: 1000ms ease;
}
.nav button:active {
  background-color: rgb(184, 184, 184);
  border-radius: 50%;
}

#login .nav button svg {
  fill: black;
}
#login .main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#login h1,
#login p,
#login .input-box,
#login button {
  margin: 10px;
}
#forgot-p {
  margin-top: none;
  margin-bottom: 30px;
  text-align: end;
  width: 100%;
}
#login .main button {
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.4rem;
  border-radius: 10px;
}
.input-box {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 30px;
}
.input-box svg {
  fill: #00cb4e;
  width: 40px;
  margin: 10px;
}
.input-box input:focus {
  outline: none !important;
}
.login-page input {
  padding: 10px;
  background-color: transparent;
  border: none;
  width: 330px;
  font-size: 1.5rem;
}
.cont {
  background: #0380f3;
  color: white;
}
.google {
  display: flex;
  background: #fe0000;
  color: white;
}
.google img {
  margin-left: 10px;
  margin-right: auto;
  height: 2rem;
}
.google div {
  margin-right: auto;
}

#sponsors {
  position: absolute;
  top: 80%;
  left: 10%;
}

/* ---- signup page */

.login-page {
  color: black;
  position: fixed;
  transform: translateX(-100%);
  left: 300%;
  top: 5vh;
  z-index: 5;
  height: 100vh;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(223, 223, 223, 0.6);
  transition: left 500ms ease;
}

.signup.on {
  left: 100%;
  transition: left 500ms ease-out;
}

#signup div,
input,
button,
h1,
p {
  z-index: 6;
}
#tnc input{
    width: 20px;
    margin-left: 10px;
}
#tnc{
    font-size: 1.1rem;
    width: 500px;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 40px;
    height: fit-content;
}
#signup .nav {
  position: fixed;
  top: 0%;
  width: inherit;
  height: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
  color: black;
  background-color: rgba(223, 223, 223, 0.801);
  padding-left: 30px;
  padding-right: 30px;
}
.nav #signup-back-btn {
  padding: 5px;
  font-size: 3rem;
  border: none;
  margin: 0;
  background-color: transparent;
  border-radius: 50%;
  transition: 1000ms ease;
}
.nav button:active {
  background-color: rgb(184, 184, 184);
  border-radius: 50%;
}

#signup .nav button svg {
  fill: black;
}
#signup .main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#signup h1,
#signup p,
#signup .input-box,
#signup button {
  margin: 10px;
}
#forgot-p {
  margin-top: none;
  margin-bottom: 30px;
  text-align: end;
  width: 100%;
}
#signup .main button {
  padding: 10px;
  width: 400px;
  outline: none;
  border: none;
  font-size: 1.4rem;
  border-radius: 10px;
}

/* ----- about page */

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about.hidden img {
  height: 450px;
  transform: translate(-300%,0);
  transition: 500ms ease;
}
#about.hidden.show img {
  transform: translate(0,0);
  transition: 500ms ease;
}
#about.hidden p {
  scale: 10%;
  margin: 0 30px 0 30px;
  text-align: center;
  font-size: 1.2rem;
  transition: 800ms ease;
}
#about.hidden.show p{
  scale: 100%;
  transition: 800ms ease;
}
#career {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(183, 255, 255, 0.65);
}
#career.hidden img {
  height: 600px;
  transform: translate(300%,0);
  transition: 500ms ease-out;
}
#career.hidden.show  img{
  transform: translate(0%,0%);
  transition: 500ms ease-out;
}
#career p {
  margin: 0 30px 0 30px;
  text-align: center;
  font-size: 1.2rem;
}

#products{
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    /* background: rgba(236, 236, 236, 0.631); */
}
#products .images{
    width: 30vh;
    height: 500px;
    display: flex;
    flex-direction: column;
}
#products .hidden img{
    width: 200px;
    transform: translate(-400%,0);
    height: 200px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.714);
    border-radius: 20px;
    transition: 500ms ease-in-out;
}
#products .hidden.show img{
    transform: translate(0%,0);
    transition: 500ms ease-in-out;
}

#products .images div{
    display: flex;
    justify-content: center;
}
#products .text.hidden h1, .text.hidden p{
    margin-top: 20px;
    opacity: 0;
    margin-bottom: 30px;
    text-align: center;
    transition: 700ms ease;

}
#products .text.hidden.show h1, .text.hidden.show p{
    opacity: 1;
}

#supported-by{
    display: flex;
    overflow-x: scroll;
    background-color: rgba(203, 203, 203, 0.688);
}
#supported-by::-webkit-scrollbar{
    width: 0.25rem;
}
#supported-by::-webkit-scrollbar-track{
    background: transparent;
}
#supported-by::-webkit-scrollbar-thumb{
    background: rgb(156, 156, 156);
    border-radius: 20px;
}

#supported-by .card{
    background-color: #56cab4;
    border-radius: 20px;
    min-width: fit-content;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 5px rgb(97, 97, 97) ;
}
.card img{
    width: 100%;
}
.card p{
    text-align: center;
    margin: 10px;
}

.space{
    height: 4vh;
}
#solutions{
    overflow: hidden;
    background: #57cbb672;
}
#solutions div{
    display: flex;
    padding: 20px;
}
#solutions.hidden div img{
    border-radius: 20px;
    width: 500px;
    height: 400px;
    transform: translate(-300%);
    transition: 500ms ease;
}
#solutions.hidden.show div img{
    transform: translate(0%);
    transition: 500ms ease;
}
#solutions.hidden div p{
    text-align: center;
    width: 100%;
    transform: translate(0,-300%);
    transition: 500ms ease;
}
#solutions.hidden.show div p{
transform: translate(0,0%);
transition: 500ms ease;
}

/* testimonials */
#testimonials.hidden div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
    background-color: #57cbb672;
    width: fit-content;
    overflow: hidden;
    border-radius: 10px;
    transform: translate(-1000%,0);
    transition: 1000ms ease-out;
}
#testimonials.hidden.show div{
    transform: translate(0%,0);
    transition: 1000ms ease-out;
    
}
#testimonials div img{
    height: 300px;
}
#testimonials div p{
    margin: 30px;
}
.test2{
    margin-left: 50vw !important;
}

#ContactUs{
    height: 30vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #56cab460;
}
#ContactUs img{
    height: 60px;
}
.providing .div{
    display: flex;
}
.providing .div div{
    margin: 20px;
}